@model YSI.CurseOfSilverCrown.Web.Models.DbModels.Organization

@{
    ViewData["Title"] = "Организация";
}

<h1>Подробности</h1>

<div>
    <h4>Организация</h4>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    Доступна для нового игрока:
                </td>
                <td>
                    @(Model.User == null ? "Да" : "Нет, уже занято")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Warriors)
                </td>
                <td>
                    @Model.Warriors
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Coffers)
                </td>
                <td>
                    @Model.Coffers
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Investments)
                </td>
                <td>
                    @Model.Investments
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Suzerain)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@Model.Suzerain?.Id">
                        @Html.DisplayFor(model => model.Suzerain.Name)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Vassals)
                </td>
                <td>
                    @foreach (var vassal in Model.Vassals)
                    {
                        <a asp-action="Details" asp-route-id="@vassal.Id">
                            @vassal.Name
                        </a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Прошлые действия
                </td>
                <td>
                    @{
                        var lastEventStories = ViewBag.LastEventStories as List<List<string>>;
                        foreach (var eventStory in lastEventStories)
                        {
                            @foreach (var line in eventStory)
                            {
                                <p style="margin-bottom: 0;">@line</p>
                            }
                            <p style="margin-bottom: 0;">____________________</p>
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
