@using YSI.CurseOfSilverCrown.Core.Commands;
@using YSI.CurseOfSilverCrown.Core.Utils;
@using YSI.CurseOfSilverCrown.Core.Database.Models.GameWorld;
@model IEnumerable<Domain>

@{
    ViewData["Title"] = "Владение";
}

<h1>Владение</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Войско
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coffers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentsShowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fortifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suzerain)
            </th>
            <th>
                Кол-во васслов
            </th>
            <th>
                Игрок
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @item.Units.Where(u => u.InitiatorPersonId == item.PersonId).Sum(u => u.Warriors)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Coffers)
                </td>
                <td>
                    @ViewHelper.GetSweetNumber(item.InvestmentsShowed)
                </td>
                <td>
                    @(FortificationsHelper.GetDefencePercent(item.Fortifications))%
                </td>
                <td>
                    <a asp-controller="Organizations" asp-action="Details" asp-route-id="@item.SuzerainId">
                        @Html.DisplayFor(modelItem => item.Suzerain.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Vassals.Count)
                </td>
                <td>
                    @{
                        var user = item.Person.User;
                        if (user != null)
                        {
                        <p style="margin-bottom: 0">@user.UserName</p>
                        }
                        else if ((bool)ViewBag.CanTake)
                        {
                        @*<p style="margin-bottom: 0">Временно заблокировано</p>*@
                        <a asp-action="Take" asp-route-id="@item.Id">Выбрать</a>
                        }
                        else
                        {
                        <p style="margin-bottom: 0">-</p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
