@using YSI.CurseOfSilverCrown.Core.Database.Enums;
@using YSI.CurseOfSilverCrown.Core.Commands;
@using YSI.CurseOfSilverCrown.Core.Utils;
@model IEnumerable<YSI.CurseOfSilverCrown.Core.Database.Models.Domain>

@{
    ViewData["Title"] = "Провинции";
}

<h1>Провинции</h1>

<div class="text-center">
    <a class="nav-link" asp-controller="Home" asp-action="Map">Карта игрового мира</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warriors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coffers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fortifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suzerain)
            </th>
            <th>
                Кол-во васслов
            </th>
            <th>
                Игрок
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Warriors)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Coffers)
                </td>
                <td>
                    @ViewHelper.GetSweetNumber(item.Investments + InvestmentsHelper.IlusionInvestment)
                </td>
                <td>
                    +@(FortificationsHelper.GetDefencePercent(item.Fortifications) - 100)%
                </td>
                <td>
                    <a asp-controller="Organizations" asp-action="Details" asp-route-id="@item.SuzerainId">
                        @Html.DisplayFor(modelItem => item.Suzerain.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Vassals.Count)
                </td>
                <td>
                    @{
                        var user = item.User;
                        if (user != null)
                        {
                            <p style="margin-bottom: 0">@user.UserName</p>
                        }
                        else if ((bool)ViewBag.CanTake)
                        {
                            <a asp-action="Take" asp-route-id="@item.Id">Выбрать</a>
                        }
                        else
                        {
                            <p style="margin-bottom: 0">-</p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
