@using YSI.CurseOfSilverCrown.Core.Database.Enums;
@using YSI.CurseOfSilverCrown.Core.Commands;
@using YSI.CurseOfSilverCrown.Core.Utils;
@using YSI.CurseOfSilverCrown.Core.Database.Models.GameWorld;
@model IEnumerable<Domain>

@{
    ViewData["Title"] = "Мои Владения";
}

<h1>Мои Владения</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Войско
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coffers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentsShowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fortifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suzerain)
            </th>
            <th>
                Кол-во васслов
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Domain" asp-action="Index" asp-route-domainId="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @item.Units.Where(u => u.InitiatorPersonId == item.PersonId).Sum(u => u.Warriors)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Coffers)
                </td>
                <td>
                    @ViewHelper.GetSweetNumber(item.InvestmentsShowed)
                </td>
                <td>
                    @(FortificationsHelper.GetDefencePercent(item.Fortifications))%
                </td>
                <td>
                    <a asp-controller="Organizations" asp-action="Details" asp-route-id="@item.SuzerainId">
                        @Html.DisplayFor(modelItem => item.Suzerain.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Vassals.Count)
                </td>
            </tr>
        }
    </tbody>
</table>
