@using YSI.CurseOfSilverCrown.Web.Enums;
@model YSI.CurseOfSilverCrown.Web.Models.DbModels.Organization

@{
    ViewData["Title"] = "Организация";
}

<h1>Моя организация</h1>

<div>
    <h4>Организация</h4>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Power)
                </td>
                @{
                    var power = Model.Power;
                    var wariors = power / 2000;
                    <td>
                        Воинов: @wariors
                    </td>
                }
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Suzerain)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@Model.Suzerain?.Id">
                        @Html.DisplayFor(model => model.Suzerain.Name)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Vassals)
                </td>
                <td>
                    @foreach (var vassal in Model.Vassals)
                    {
                        <p>
                            <a asp-action="Details" asp-route-id="@vassal.Id">
                                @vassal.Name
                            </a>
                        </p>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Commands)
                </td>
                <td>
                    @{
                        var currentCommand = Model.Commands
                            .Where(c => c.Turn.IsActive)
                            .First();
                        <a asp-controller="Commands" asp-action="Edit" asp-route-id="@currentCommand.Id">
                            @Html.DisplayFor(model => currentCommand.Type)
                            @{
                                if (currentCommand.Type == enCommandType.War)
                                {
                                    @(" - ");
                                    @currentCommand.Target.Name;
                                }
                            }
                        </a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Прошлые действия
                </td>
                <td>
                    @{
                        var commands = Model.Commands
                            .Where(c => !c.Turn.IsActive)
                            .OrderByDescending(c => c.TurnId)
                            .Take(20);
                        foreach (var command in commands)
                        {
                                        <p>                                            
                                            @command.Turn.Name: @command.Result
                                        </p>
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
