@using YSI.CurseOfSilverCrown.Web.Enums;
@using YSI.CurseOfSilverCrown.Web.BL.EndOfTurn;
@model YSI.CurseOfSilverCrown.Web.Models.DbModels.Organization

@{
    ViewData["Title"] = "Организация";
}

<h1>Моя организация</h1>

<div>
    <h4>Организация</h4>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Warriors)
                </td>
                <td>
                    @Model.Warriors
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Coffers)
                </td>
                <td>
                    @Model.Coffers
                </td>
            </tr>
            <tr>
                <td>
                    Защита
                </td>
                @{
                    var freeCommands = Model.Warriors - Model.Commands.Sum(c => c.Warriors);
                    var taxWarriros = Model.Commands.Single(c => c.Type == enCommandType.CollectTax).Warriors;
                    var defenseWarrioirs = Model.Commands
                        .SingleOrDefault(c => c.Type == enCommandType.WarSupportDefense && c.TargetOrganizationId == Model.Id)
                        ?.Warriors;
                    var defense = WarConstants.DefenceDefault +
                        (freeCommands + taxWarriros) * WarConstants.WariorDefenseTax +
                        defenseWarrioirs * WarConstants.WariorDefenseSupport;
                    <td>@Math.Round(defense.Value, 1)</td>
                }
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Investments)
                </td>
                <td>
                    @Model.Investments
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Suzerain)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@Model.Suzerain?.Id">
                        @Html.DisplayFor(model => model.Suzerain.Name)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Vassals)
                </td>
                <td>
                    @foreach (var vassal in Model.Vassals)
                    {
                        <p>
                            <a asp-action="Details" asp-route-id="@vassal.Id">
                                @vassal.Name
                            </a>
                        </p>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Commands)
                </td>
                <td>
                    <a asp-controller="Commands" asp-action="Index">
                        Посмотреть/Изменить
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Прошлые действия
                </td>
                <td>
                    @{
                        var lastEventStories = ViewBag.LastEventStories as List<List<string>>;
                        foreach (var eventStory in lastEventStories)
                        {
                            @foreach (var line in eventStory)
                            {
                                <p style="margin-bottom: 0;">@line</p>
                            }
                            <p style="margin-bottom: 0;">____________________</p>
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
