@using YSI.CurseOfSilverCrown.Core.Parameters;
@using YSI.CurseOfSilverCrown.Core.Database.Enums;
@using YSI.CurseOfSilverCrown.Core.ViewModels;
@model YSI.CurseOfSilverCrown.Core.ViewModels.UnitEditor

@{
    ViewData["Title"] = "Редактирование отряда";
    var unit = Model.Unit;
    var unitsForUnioin = Model.UnitsForUnion;
    var availableCommands = Model.AvailableCommands;
    var domain = Model.Domain;
}

<h1>@domain.Name: @unit.ToString()</h1>

<div>
    <a class="nav-link" asp-action="Index" asp-route-organizationId="@unit.DomainId">К списку отрядов</a>
</div>

<hr />
<h3>Подробности</h3>
<p style="margin-bottom:0">Количество воинов в отряде - @unit.Warriors</p>
<p style="margin-bottom:0">Приказ отряда - @Model.Description</p>
<p style="margin-bottom:0">Текущее местоположение - @Model.Position.Name</p>

<hr />
<h3>Объединение отрядов</h3>
@if (unitsForUnioin.Count() == 0)
{
    <h4>В текущем владении нет отрядов для объединения.</h4>
}
else
{
    <h4>Отряд может присоединиться к следующим отрядам:</h4>
    foreach (var unitForUnioin in unitsForUnioin)
    {
        <p style="margin-bottom:0">Отряд @unitForUnioin.ToString()</p>
        <a asp-action="Union" asp-route-id="@unit.Id" asp-route-toUnitId="@unitForUnioin.Id">Присоединиться к этому отряду</a>
        <span> | </span>
        <a asp-action="Union" asp-route-id="@unitForUnioin.Id" asp-route-toUnitId="@unit.Id">Присоединить этот отряд к текущему</a>
    }
}

<hr />
<h3>Разделение отрядов</h3>
@if (!Model.SeparationAvailable)
{
    <h4>Отряд не может быть разделён, так как владения уже имееют отрядов - @Constants.MaxUnitCount</h4>
}
else if (unit.Warriors < 2)
{
    <h4>Отряд не может быть разделён, так как его численность равна @unit.Warriors</h4>
}
else
{
    var range = new InputRangeElementViewModel
    {
        ControllerName = "Units",
        ActionName = "Separate",
        ObjectNameId = "unitId",
        ObjectId = unit.Id,
        CountName = "separateCount",
        MinValue = 1,
        MaxValue = unit.Warriors - 1,
        ButtonName = "Разделить",
        LabelText = "Количество воинов"
    };    
    <partial name="_InputRangeElement" model=range/>
}

<hr />
<h3>Изменить приказ отряда</h3>

@if (domain.PersonId == unit.InitiatorPersonId)
{
    @if (unit.Type == enArmyCommandType.CollectTax)
    {
        <h4>Дополнительный сбор налогов</h4>
        <p style="margin-bottom:0">Применен</p>
        <hr />
    }
    else if (availableCommands[enArmyCommandType.CollectTax])
    {
        <a asp-action="Edit" asp-route-id="@unit.Id" asp-route-type="@((int)enArmyCommandType.CollectTax)">
            Дополнительный сбор налогов
        </a>
        <hr />
    }
    else
    {
        <h4>Дополнительный сбор налогов</h4>
        <p style="margin-bottom:0">
            Можно иметь только один отряд для дополнительного сбора налогов и он уже организован.
        </p>
        <hr />       
    }
}

@if (availableCommands[enArmyCommandType.War])
{
    <a asp-action="Edit" asp-route-id="@unit.Id" asp-route-type="@((int)enArmyCommandType.War)">
        Нападение на владение
    </a>
    <hr />
}
else
{
    <h4>Нападение на владение</h4>
    <p style="margin-bottom:0">
        Отряд, возглавляющий нападение на владение, должен иметь численность воинов не менее @WarConstants.MinWarrioirsForAtack.
    </p>
    <hr />
}

<a asp-action="Edit" asp-route-id="@unit.Id" asp-route-type="@((int)enArmyCommandType.WarSupportAttack)">
    Поддержка другого владения в нападении
</a>
<hr />

<a asp-action="Edit" asp-route-id="@unit.Id" asp-route-type="@((int)enArmyCommandType.WarSupportDefense)">
    Защита владения
</a>
<hr />