@using YSI.CurseOfSilverCrown.Core.BL.Models.Main;
@using YSI.CurseOfSilverCrown.Core.BL.Models.Min;
@using Newtonsoft.Json;
@model YSI.CurseOfSilverCrown.Core.Database.Models.Unit

@{
    ViewData["Title"] = "Нападение";
    var resourses = ViewBag.Resourses as Dictionary<string, List<int>>;
    var targetOrganizations = ViewBag.TargetOrganizations as IEnumerable<DomainMain>;
    var targetOrganizationsJson = @Html.Raw(JsonConvert.SerializeObject(targetOrganizations));
    var isCreate = Model == null;
    var organization = ViewBag.Organization as DomainMin;
}

<h1>@(isCreate ? "Создание" : "Редактирование")</h1>

<h4>@organization.Name: Нападение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action=@(isCreate ? "Create" : "Edit")>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (isCreate)
            {
                <input type="hidden" asp-for="Id" />
            }
            <input type="hidden" asp-for="TypeInt" value="2" />
            <input type="hidden" asp-for="DomainId" value="@organization.Id" />
            <div id="commandTarget" class="form-group">
                <label asp-for="TargetDomainId" class="control-label"></label>
                <select asp-for="TargetDomainId" class="form-control" asp-items="ViewBag.TargetOrganizationId"
                        onchange="onTargetOrWarriorsChanged()"></select>
                <span asp-validation-for="TargetDomainId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Warriors" value="@Model.Warriors" />
            <span id="expectation">
                Кол-во ваших воинов: -, кол-во воинов соперника: -, шансы на победу, если противник будет в защите и без поддержки: -
            </span>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <p>
        Нападение - команда атаковать чужую провинцию с целью её захвата.
        Вы не можете нападать на провинции вашего королевства (своих вассалов, сюзерена, васслов сюзерена и т.д.).
    </p>
</div>

<div>
    <a asp-action="Index" asp-route-organizationId="@organization.Id">К списку</a>
</div>

<script type="text/javascript">

    window.onload = function () {
    };

    function onTargetOrWarriorsChanged() {
        let targetId = document.getElementById("TargetDomainId").value;
        let array = @targetOrganizationsJson;
        let target = array.find(e => e.Id == targetId);
        let warriors = parseInt(document.getElementById("Warriors").value);
        let chanseStr = 'неизвестны';
        if (warriors * 0.8 >= target.Warriors * target.DefenseCoeficient * 1.2)
            chanseStr = 'абсолютная победа';
        else if (warriors * 0.95 >= target.Warriors * target.DefenseCoeficient * 1.05)
            chanseStr = 'хорошие шансы на победу';
        else if (warriors * 1.05 >= target.Warriors * target.DefenseCoeficient * 0.95)
            chanseStr = 'война на равных';
        else if (warriors * 1.2 >= target.Warriors * target.DefenseCoeficient * 0.8)
            chanseStr = 'победа маловероятна';
        else
            chanseStr = 'никаких шансов';


        document.getElementById("expectation").innerText =
            'Кол-во ваших воинов: ' + warriors + ', кол-во воинов соперника: ' + target.Warriors + ', шансы на победу, если противник будет в защите и без поддержки: ' + chanseStr;
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
