@using YSI.CurseOfSilverCrown.Web.Database.Commands;
@using YSI.CurseOfSilverCrown.Web.APIModels;
@using YSI.CurseOfSilverCrown.Web.APIModels.BudgetModels;
@model IEnumerable<Command>

@{
    ViewData["Title"] = "Список";
    var budget = ViewBag.Budget as Budget;
    var lines = budget.Lines;
}

<h3>Дипломатия</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Действия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var diplomacyRows = new[] { BudgetLineType.VassalTransfer, BudgetLineType.Rebelion };
            foreach (var row in diplomacyRows)
            {
                var rowLines = lines.Where(l => l.Type == row);
                <tr>
                    @switch (row)
                    {
                        case BudgetLineType.VassalTransfer:
                            <td>Передача вассала:</td>
                            break;
                        case BudgetLineType.Rebelion:
                            <td>Объявление о независимости:</td>
                            break;
                        default:
                            <td>Неизвестно:</td>
                            break;
                    }
                <td>
                    @switch (row)
                    {
                        case BudgetLineType.VassalTransfer:
                            <a asp-action="Create" asp-route-type="6" asp-route-organizationId="@budget.Organization.Id">Добавить</a>
                            break;
                        case BudgetLineType.Rebelion:
                            {
                                if (budget.Organization.SuzerainId == null)
                                {
                                    <span>Вы уже являетесь независимым правителем</span>
                                }
                                else if (rowLines.Count(l => l.Type == BudgetLineType.Rebelion) > 0)
                                {
                                    <span>Такой приказ уже подготовлен</span>
                                }
                                else if(ViewBag.TurnCountBeforeRebelion > 0)
                                {
                                    <span>
                                        Чтобы вызволить родственников из плена, нужно ещё сезонов - @ViewBag.TurnCountBeforeRebelion.
                                    </span>
                                }
                                else
                                {
                                    <a asp-action="Create" asp-route-type="@((int)CommandType.Rebellion)" asp-route-organizationId="@budget.Organization.Id">Добавить</a>
                                }
                            }
                            break;
                        default:
                            <span>Неизвестно:</span>
                            break;
                    }
                </td>
                </tr>
                @foreach (var line in rowLines)
                {
                    <tr>
                        <td>
                            - @line.Descripton
                        </td>
                        <td>
                            @if (line.Editable)
                            {
                                <a asp-action="Edit" asp-route-id="@line.CommandId">Изменить</a>
                            }
                            @if (line.Editable && line.Deleteable)
                            {
                                <span> | </span>
                            }
                            @if (line.Deleteable)
                            {
                                <a asp-action="Delete" asp-route-id="@line.CommandId">Удалить</a>
                            }
                        </td>
                    </tr>
                }

            }

        }
    </tbody>
</table>