@using YSI.CurseOfSilverCrown.Web.BL.EndOfTurn;
@model YSI.CurseOfSilverCrown.Web.Models.DbModels.Command

@{
    ViewData["Title"] = "Дополнительный сбор налогов";
    var resourses = ViewBag.Resourses as Dictionary<string, List<int>>;
}

<h1>Редактирование</h1>

<h4>Дополнительный сбор налогов</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Type" value="3" />
            <input type="hidden" asp-for="TargetOrganizationId" />
            <div id="warriors" class="form-group">
                <label asp-for="Warriors" class="control-label"></label>
                <input asp-for="Warriors" class="form-control" type="range" min="@Constants.MinTaxAuthorities" max="@resourses["Воины"][2]"
                       onchange="onWarriorsChanged()" />
                <span id="expectation">
                    Кол-во воинов: -, ожидаемый доход: -
                </span>
                <span asp-validation-for="Warriors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="row">
    <p>
        Дополнительный сбор налогов - вы отправляете дополнительные силы в деревни для охраны порядка, а также сбора дополнительныого налога.
        Все воины, выполняющие контроль провинции также будут участвовать в защите провинции при нападении врагов с коэфициентом @WarConstants.WariorDefenseTax.
    </p>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

<script type="text/javascript">

    window.onload = function () {
        document.getElementById("Warriors").value = @Math.Min(Constants.MinTaxAuthorities, resourses["Воины"][2]);
        onWarriorsChanged();
    };

    function onWarriorsChanged() {
        let minTaxWar = 30;

        if (document.getElementById("Warriors").value > @resourses["Воины"][2])
            document.getElementById("Warriors").value =  @resourses["Воины"][2];
        let warriors = parseInt(document.getElementById("Warriors").value);
        let addWarriors = warriors - minTaxWar;
        let tax = 4 * Math.sqrt(addWarriors * 500);
        let taxMin = Math.floor(tax / 10.0 * 0.9) * 10;
        let taxMax = Math.ceil(tax / 10.0 * 1.1) * 10;
        document.getElementById("expectation").innerText = 'Кол-во воинов: ' + addWarriors + ', ожидаемый доход: ' + taxMin + ' - ' + taxMax;
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
