@using YSI.CurseOfSilverCrown.Web.Enums;
@model YSI.CurseOfSilverCrown.Web.Models.DbModels.Command

@{
    ViewData["Title"] = "Создание";
    var resourses = ViewBag.Resourses as Dictionary<string, List<int>>;
}

<h1>Создание</h1>

<h4>Действие</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<enCommandType>()"
                        onchange="onCommandChanged()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div id="commandTarget" class="form-group">
                <label asp-for="TargetOrganizationId" class="control-label"></label>
                <select asp-for="TargetOrganizationId" class="form-control" asp-items="ViewBag.TargetOrganizationId"></select>
                <span asp-validation-for="TargetOrganizationId" class="text-danger"></span>
            </div>
            <div id="сoffers" class="form-group">
                <label asp-for="Coffers" class="control-label"></label>
                <input asp-for="Coffers" class="form-control" 
                        onchange="onCoffersChanged()"/>
                <span asp-validation-for="Coffers" class="text-danger"></span>
            </div>
            <div id="warriors" class="form-group">
                <label asp-for="Warriors" class="control-label"></label>
                <input asp-for="Warriors" class="form-control" 
                        onchange="onWarriorsChanged()"/>
                <span asp-validation-for="Warriors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Тип ресурса
            </th>
            <th>
                Всего
            </th>
            <th>
                Занято
            </th>
            <th>
                Свободно
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in resourses)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value[0]
                </td>
                <td>
                    @item.Value[1]
                </td>
                <td>
                    @item.Value[2]
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">К списку</a>
</div>

<script type="text/javascript">

    window.onload = function () {
        onCommandChanged();
    };

    function onCommandChanged() {
        if (document.getElementById("Type").value == "2")
            document.getElementById("commandTarget").style.visibility = "visible";
        else
            document.getElementById("commandTarget").style.visibility = "hidden";
    }

    function onCoffersChanged() {
        if (document.getElementById("Coffers").value > @resourses["Казна"][2])
            document.getElementById("Coffers").value =  @resourses["Казна"][2];
    }

    function onWarriorsChanged() {
        if (document.getElementById("Warriors").value >  @resourses["Воины"][2])
            document.getElementById("Warriors").value =  @resourses["Воины"][2];
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}