@using YSI.CurseOfSilverCrown.Core.Commands;
@using YSI.CurseOfSilverCrown.Core.Database.Enums;
@model YSI.CurseOfSilverCrown.Core.Database.Models.Command

@{
    ViewData["Title"] = "Вложение средств в постройку укреплений";
    var resourses = ViewBag.Resourses as Dictionary<string, List<int>>;
    var type = (int)enCommandType.Fortifications;
}

<h1>Редактирование</h1>

<h4>Вложение средств в постройку укреплений</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Type" value="@type" />
            <input type="hidden" asp-for="TargetOrganizationId" />
            <div id="сoffers" class="form-group">
                Вложить средства казны в постройку укреплений
                <input asp-for="Coffers" class="form-control" type="range" min="0" max="@resourses["Казна"][2]"
                       onchange="onCoffersChanged()" />
                <span id="expectation">
                    Кол-во вкладываемых средств казны: -, ожидемый прирост прирост затрат на содержане - , ожидаемый бонус к защите: -%
                </span>
                <span asp-validation-for="Coffers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <p>
        Вложение средства в постройку укреплений - действие позволяющее повысить обороноспособность провинции от захвата.
        Вложения подразумевают постройку замка, рва, стен и другое. Выгода от постепенно вложений угасает,
        так постройка огромного замка стоит бонословных средств, но не даёт такой же прирост к защите.
        В целом вкладывать деньги в укрепления можно до бесконечности, но с каждым разом они будут всё менее выгодны.
        Все войска учавствующие в защите провинции получают бонус от укрплений.
        Укрпления требуют содержания, равное 10% стоимости укрплений.
    </p>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

<script type="text/javascript">

    window.onload = function () {
        document.getElementById("Coffers").value = @Math.Min(1000, resourses["Казна"][2]);
        onCoffersChanged();
    };

    function onCoffersChanged() {
        let koefStr = '@FortificationsHelper.GetCoeficient()';
        koefStr = koefStr.replace(',', '.')
        let koef = parseFloat(koefStr);

        if (document.getElementById("Coffers").value > @resourses["Казна"][2])
            document.getElementById("Coffers").value =  @resourses["Казна"][2];
        let coffers = parseInt(document.getElementById("Coffers").value);
        let currentInvestment = @resourses["Укрепления"][2];
        let newInvestment = currentInvestment + coffers;

        let currentProfit = Math.sqrt(currentInvestment * koef);
        let newProfit = Math.sqrt(newInvestment * koef);
        let additionalProfit = newProfit - currentProfit;

        let additionalProfitPercent = Math.round(additionalProfit * 100);

        let additionalMaintenance = Math.round(coffers * 0.1);

        document.getElementById("expectation").innerText = 'Кол-во вкладываемых средств казны: ' + coffers + ', ожидемый прирост затрат на содержане ' + additionalMaintenance + ', ожидаемый бонус к защите: ' + additionalProfitPercent + '%';
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
