@using YSI.CurseOfSilverCrown.Web.BL;
@model YSI.CurseOfSilverCrown.Core.Database.Models.Command

@{
    ViewData["Title"] = "Сбор войск";
    var resourses = ViewBag.Resourses as Dictionary<string, List<int>>;
}

<h1>Редактирование</h1>

<h4>Сбор войск</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Type" value="1" />
            <input type="hidden" asp-for="TargetOrganizationId" />
            <div id="сoffers" class="form-group">
                Набрать воинов
                <input asp-for="Coffers" class="form-control" type="range" min="0" max="@resourses["Казна"][2]" step="@Constants.OutfitWarrioir"
                       onchange="onCoffersChanged()" />
                <span id="expectation">
                    Кол-во воинов: -, траты из казны (без учета содержания): -
                </span>
                <span asp-validation-for="Coffers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <p>
        Сбор войск - действие позволяющее увеличить численность войск. В поселениях провинции набираются люди, способные стать хорошими воинами. Они проходят обучение и получают созданное для них снаряжение. Обучение одного воина обходится казне в @(Constants.OutfitWarrioir + Constants.MaintenanceWarrioir) золотых монет, @Constants.OutfitWarrioir из которых уходит на закупку и создание оружия, доспехов и другого снаряжения, а @Constants.MaintenanceWarrioir тратится на содержание и обучение новобранцев.
        При отдаче приказа вы можете оплатить из казны только @Constants.OutfitWarrioir монет на воина. Плата за содержание будет вычтена из казны после сбора налогов в этом сезоне.
        Воины которых вы набираете эти приказом смогут принимать участие в боях только в следующем сезоне. При нападении в текущем сезоне эти воины не учитываются.
    </p>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

<script type="text/javascript">

    window.onload = function () {
        document.getElementById("Coffers").value = @Math.Min(1000, resourses["Казна"][2]);
        onCoffersChanged();
    };

    function onCoffersChanged() {
        let outfitWarrioir = 50;

        if (document.getElementById("Coffers").value > @resourses["Казна"][2])
            document.getElementById("Coffers").value =  @resourses["Казна"][2];
        if (document.getElementById("Coffers").value % outfitWarrioir != 0)
            document.getElementById("Coffers").value = document.getElementById("Coffers").value - document.getElementById("Coffers").value % outfitWarrioir
        let coffers = parseInt(document.getElementById("Coffers").value);
        let warriors = coffers / outfitWarrioir;
        document.getElementById("expectation").innerText = 'Кол-во воинов: ' + warriors + ', траты из казны (без учета содержания): ' + coffers;
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
