@using YSI.CurseOfSilverCrown.Core.APIModels;
@using YSI.CurseOfSilverCrown.Core.Database.Commands;
@using YSI.CurseOfSilverCrown.Core.APIModels.BudgetModels;
@model IEnumerable<Command>

@{
    ViewData["Title"] = "Список";
    var budget = ViewBag.Budget as Budget;
    var lines = budget.Lines;
    var initiatorId = ViewBag.InitiatorId as int?;
    var isOwnCommands = budget.Organization.Id == initiatorId;
}

<h1>@budget.Organization.Name: Действия</h1>

<div>
    <a class="nav-link" asp-controller="Domain" >Назад к владению</a>
</div>

<hr />
<h2>Распределение имеющихся ресурсов</h2>

@if (isOwnCommands)
{
    <partial name="_CoffersCommandsPartial" />
    <hr />
    <partial name="_DiplomacyCommandsPartial" />
    <hr />
    <h3>Ожидаемый результат на начало следующего сезона</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Статья расходов/дохов
                </th>
                <th>
                    Казна
                </th>
                <th>
                    Воины
                </th>
                <th>
                    Имущество владения
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in lines)
            {
                if ((line.Coffers?.ExpectedValue == null || line.Coffers.ExpectedValue.Value == 0) &&
                    (line.Warriors?.ExpectedValue == null || line.Warriors.ExpectedValue.Value == 0) &&
                    (line.Investments?.ExpectedValue == null || line.Investments.ExpectedValue.Value == 0) &&
                    line.Type != BudgetLineType.Total &&
                    line.Type != BudgetLineType.Current)
                    continue;
                <tr>
                    <td>
                        @line.Descripton
                    </td>
                    <td>
                        @line.Coffers?.ExpectedValue
                    </td>
                    <td>
                        @line.Warriors?.ExpectedValue
                    </td>
                    <td>
                        @line.Investments?.ExpectedValue
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
