@using YSI.CurseOfSilverCrown.Core.ViewModels;
@model IEnumerable<YSI.CurseOfSilverCrown.Core.Database.Models.Command>

@{
    ViewData["Title"] = "Список";
    var budget = ViewBag.Budget as Budget;
    var lines = budget.Lines;
    var initiatorId = ViewBag.InitiatorId as int?;
    var isOwnCommands = budget.Organization.Id == initiatorId;
}

<h1>@budget.Organization.Name: Действия</h1>
<hr />
<h2>Распределение имеющихся ресурсов</h2>

@if (isOwnCommands)
{
    <partial name="_CoffersCommandsPartial" />
    <hr />
    <partial name="_DiplomacyCommandsPartial" />
    <hr />
    <h3>Ожидаемый результат на начало следующего сезона</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Статья расходов/дохов
                </th>
                <th>
                    Казна
                </th>
                <th>
                    Воины
                </th>
                <th>
                    Имущество владения
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in lines)
            {
                if ((line.CoffersWillBe == null || line.CoffersWillBe.Value == 0) &&
                    (line.WarriorsWillBe == null || line.WarriorsWillBe.Value == 0) &&
                    (line.InvestmentsWillBe == null || line.InvestmentsWillBe.Value == 0) &&
                    line.Type != enLineOfBudgetType.Total &&
                    line.Type != enLineOfBudgetType.Current)
                    continue;
                <tr>
                    <td>
                        @line.Descripton
                    </td>
                    <td>
                        @line.CoffersWillBe
                    </td>
                    <td>
                        @line.WarriorsWillBe
                    </td>
                    <td>
                        @line.InvestmentsWillBe
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
