@using YSI.CurseOfSilverCrown.Core.Database.Models;
@using YSI.CurseOfSilverCrown.Core.Database.Models.GameWorld;
@model IEnumerable<DomainRelation>

@{
    ViewData["Title"] = "Отношения";
    var domainId = (ViewBag.Domain as Domain).Id;
}

<h1>Отношения</h1>

<div>
    <a class="nav-link" asp-controller="Domain" >Назад к владению</a>
</div>

@{
    if (Model.Count() < 10)
    {
        <p>
            <a asp-action="CreateOrEdit" asp-route-domainId="@domainId">Добавить новое отношение</a>
        </p>
    }
    else
    {
        <p>
            Максимум можно указать 10 отношений
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TargetDomainId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsIncludeVassals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionOfPassage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetDomain.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsIncludeVassals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionOfPassage)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "CreateOrEdit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
