@model YAGO.World.Infrastructure.APIModels.HistoryFilter

@{
    var imoprtantDict = new Dictionary<string, int>
    {
        { "Все", 0 },
        { "Кроме незначительных", 500 },
        { "Значимые", 5000 },
        { "Важнейшие", 50000 }
    };
    ViewData["Important"] = new SelectList(imoprtantDict, "Value", "Key");

    var regionDict = new Dictionary<string, int>
    {
        { "Весь мир", 0 },
        { "Королевство", 1 },
        { "Все вассалы", 2 },
        { "Прямые вассалы", 3 },
        { "Только ваше владение", 4 },
    };
    ViewData["Region"] = new SelectList(regionDict, "Value", "Key");

    var turnsDict = new Dictionary<string, int>
    {
        { "Максимум", int.MaxValue },
        { "10 последних ходов", 10 },
        { "3 последних ходов", 3 },
        { "Только прошлый ход", 1 },
    };
    ViewData["Turns"] = new SelectList(turnsDict, "Value", "Key");

    var regionDisabled = (bool)ViewBag.UserHasDomain ? null : "disabled";
}

<div class="text-center">
    <a class="nav-link" asp-controller="Home" asp-action="AllMovingsInLastRound">Все военные действия прошлого раунда</a>
</div>

<div>
    <h4>
         Фильтр событий:
    </h4>
    <div>
        <form asp-action=@("History")>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DomainId" class="control-label">Владение</label>
                <select asp-for="DomainId" class="form-control" asp-items=@((SelectList)ViewData["Domain"])></select>
            </div>

            <div class="form-group">
                <label asp-for="Important" class="control-label">Важность событий</label>
                <select asp-for="Important" class="form-control" asp-items=@((SelectList)ViewData["Important"])></select>
            </div>

            <div class="form-group">
                <label asp-for="Region" class="control-label">Регион событий</label>
                <select asp-for="Region" class="form-control" asp-items=@((SelectList)ViewData["Region"])
                        disabled="@regionDisabled"></select>
            </div>            

            <div class="form-group">
                <label asp-for="Turns" class="control-label">Количество ходов</label>
                <select asp-for="Turns" class="form-control" asp-items=@((SelectList)ViewData["Turns"])></select>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AggressivePoliticalEvents"
                           value="@(Model?.AggressivePoliticalEvents ?? true)" /> Показывать военно-политические события
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PeacefullPoliticalEvents"
                           value="@(Model?.PeacefullPoliticalEvents ?? true)" /> Показывать мирные политические события
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InvestmentEvents"
                           value="@(Model?.InvestmentEvents ?? true)" /> Показывать вложения казны
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BudgetEvents"
                           value="@(Model?.BudgetEvents ?? true)" /> Показывать детали изменения бюджета
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CataclysmEvents"
                           value="@(Model?.CataclysmEvents ?? true)" /> Показывать катаклизмы
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>