@model YAGO.World.Host.APIModels.InputRangeElementViewModel

<form asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">
    <input type="hidden" name="@Model.ObjectNameId" value="@Model.ObjectId" />    
    <div style="display:flex;align-items:center">
        @Model.LabelText
        <input id="inputValueId"
            class="form-control" 
            name="@Model.CountName"
            type="number"
            min="@Model.MinValue"
            max="@Model.MaxValue"
            step="@Model.Step"
            value="@Model.StartValue"            
            oninput="onInputValueChanged()" 
            style="width:5rem;margin-left:1rem"/>
    </div>
    <input id="rangeValueId"
        class="form-control" 
        type="range"
        min="@Model.MinValue"
        max="@Model.MaxValue"
        step="@Model.Step"
        value="@Model.StartValue"
        onchange="onRangeValueChanged()" />
    <div class="form-group">
        <input type="submit" value="@Model.ButtonName" class="btn btn-primary" />
    </div>
</form>



<script type="text/javascript">
    window.onload = function () {
        onRangeValueChanged();
        onInputValueChanged();
    };

    function onRangeValueChanged() {
        let inputValue = document.getElementById("inputValueId");
        let rangeValue = document.getElementById("rangeValueId");
        inputValue.value = rangeValue.value;
    }

    function onInputValueChanged() {
        let inputValue = document.getElementById("inputValueId");
        inputValue.value = Math.max(Math.min(inputValue.value, inputValue.max), inputValue.min);        
        let rangeValue = document.getElementById("rangeValueId");
        rangeValue.value = inputValue.value;
    }
</script>