@using YSI.CurseOfSilverCrown.Core.Database.Domains;
@using YSI.CurseOfSilverCrown.Core.Helpers;
@model Domain

<tr>
    <td>
        @Html.DisplayNameFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
</tr>
<tr>
    <td>
        Войско
    </td>
    <td>
        @Model.Units.Where(u => u.InitiatorCharacterId == Model.OwnerId).Sum(u => u.Warriors)
    </td>
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.Gold)
    </td>
    <td>
        @Model.Gold
    </td>
</tr>
<tr>
    <td>
        Укрепления
    </td>
    @try
    {
        <td>
            @(FortificationsHelper.GetFortCoef(Model.Fortifications)) (вложено - @Model.Fortifications)
        </td>
    }
    catch
    {
        <td style="color: red">Ошибка расчета!</td>
    }
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.InvestmentsShowed)
    </td>
    @try
    {
        <td>
            @ViewHelper.GetSweetNumber((Model.InvestmentsShowed))
        </td>
    }
    catch
    {
        <td style="color: red">Ошибка расчета!</td>
    }
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.Suzerain)
    </td>
    @try
    {
        <td>
            <a asp-controller="Organizations" asp-action="Details" asp-route-id="@Model.Suzerain?.Id">
                @Html.DisplayFor(model => model.Suzerain.Name)
            </a>
        </td>
    }
    catch
    {
        <td style="color: red">Ошибка расчета!</td>
    }
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.Vassals)
    </td>
    @try
    {
        <td>
            @foreach (var vassal in Model.Vassals.OrderBy(v => v.Name))
            {
                <p style="margin-bottom: 0">
                    <a asp-controller="Organizations" asp-action="Details" asp-route-id="@vassal.Id">
                        @vassal.Name
                    </a>

                    @*<a asp-controller="Units" asp-action="Index" asp-route-organizationId="@vassal.Id">
            (отдать/изменить приказ войскам)
            </a>*@
                </p>
            }
        </td>
    }
    catch
    {
        <td style="color: red">Ошибка расчета!</td>
    }
</tr>
<tr>
    <td>
        @Html.DisplayNameFor(model => model.Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Size)
    </td>
</tr>