@using YAGO.World.Host.Database.Domains;
@using YAGO.World.Host.Helpers;
@model IEnumerable<Domain>

@{
    ViewData["Title"] = "Владение";
}

<h1>Владение</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-column="1">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-route-column="2">
                    Войско
                </a>
            </th>
            <th>
                <a asp-route-column="3">
                    @Html.DisplayNameFor(model => model.Gold)
                </a>
            </th>
            <th>
                <a asp-route-column="4">
                    @Html.DisplayNameFor(model => model.InvestmentsShowed)
                </a>
            </th>
            <th>
                <a asp-route-column="5">
                    Укрепления
                </a>
            </th>
            <th>
                <a asp-route-column="6">
                    @Html.DisplayNameFor(model => model.Suzerain)
                </a>
            </th>
            <th>
                <a asp-route-column="7">
                    Кол-во васслов
                </a>
            </th>
            <th>
                <a asp-route-column="8">
                    Игрок
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @item.Units.Sum(u => u.Warriors)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Gold)
                </td>
                <td>
                    @ViewHelper.GetSweetNumber(item.InvestmentsShowed)
                </td>
                <td>
                    @(FortificationsHelper.GetFortCoef(item.Fortifications))
                </td>
                <td>
                    @{
                        if (item.Suzerain != null)
                        {
                            <a asp-controller="Organizations" asp-action="Details" asp-route-id="@item.SuzerainId">
                                @Html.DisplayFor(modelItem => item.Suzerain.Name)
                            </a>
                        }
                        else
                        {
                            <p style="margin-bottom: 0">-</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.Vassals.Count)
                </td>
                <td>
                    @{
                        var user = item.User;
                        if (user != null)
                        {
                        <p style="margin-bottom: 0">@user.UserName</p>
                        }
                        else if ((bool)ViewBag.CanTake)
                        {
                        @*<p style="margin-bottom: 0">Временно заблокировано</p>*@
                        <a asp-action="Take" asp-route-id="@item.Id">Выбрать</a>
                        }
                        else
                        {
                        <p style="margin-bottom: 0">-</p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
